.login-sty{
    width: 100%;
    height: 80vh;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.card-login-sty{
    padding: 20px;
}
