.title{
    padding-bottom: 5px;
    font-size: 30px;
    color: var(--blue-color);
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
    width: max-content;
    margin: auto;
    padding: 15px 10px;
}