header{
    width: 100%;
    height: 80px ;
    padding: 0 30px ;
    background-color: var(--blue-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    border-bottom: 2px solid var(--white-color) ;
}
header a{
    color: var(--white-color);

}
/* header left */
.header-left{
    font-size: 30px;
    font-weight: bold;
    color: var(--white-color);
    text-decoration: underline;
    text-transform:uppercase;
    display: flex;
}
.header-logo> svg {
    margin: -4px 0 0 3px;
}
.header-munu{
    display: none;
}
.header-munu svg{
font-size: 40px;
color: var(--white-color);
cursor: pointer;
font-weight: bold;

}
/* navbar */
.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0 0 0;
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
    cursor: pointer;
    color: var(--white-color);
    font-weight: var(500);
    font-size: 21px;

}
.nav-link:hover{
    color: var(--main-color);
}
.nav-link  svg{
    margin-right: 5px;
   
    font-size: 24px;
}
/* header-right */
.header-right-link{
    margin-left: 10px;
    font-size: 21px;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px  10px ;
    color: var(--blue-color);
    background-color: var(--main-color);
}
.header-right-link > svg{
    margin-right: 10px;
}
/* responsive */
@media (max-width :1100px) {
   .header-munu{
    display: block;
    margin-right: 14px;
}
.navber {
    position: absolute;
    top: 100%;
    left:0px;
    width:100%;
    background-color: var(--blue-color);
    transition: all 0.7s ease-in-out ;
    clip-path: polygon(0 0,100% 0 ,100% 0 , 0 0);
   }
    .nav-links{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
   }    
   .nav-link {
    padding: 8px 0 0 0 ;
    width: 100%;
   }
   .profile-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   }
   .profile-info  img{
    border-radius: 100%;
    border: 2px solid var(--blue-color);
   }
   .profile-info .sty-dro-log{
    color: var(--blue-color);
    font-size: 25px;
    margin: 0 5px 0 -10px;
   }
   @media (max-width:600px) {
    header{
        padding: 0 10px;
    }
    .header-logo{
        padding: 5px 5px;
        font-size: 19px;
    }
    .header-right-link{
        font-size: 17px;
        padding: 5px 5px;
    }
    .header-munu {
        font-size: 19px;
        margin-left: 10px;
    }
    
   }
   @media (max-width:450px) {
    header{
        padding: 0 5px;
    }
    .header-logo{
        font-size: 17px;
        padding: 7px 5px;
    }
    .header-right-link{
        font-size: 13px;
        padding: 2px 2px;
    }
    .header-munu {
        font-size: 15px;
        margin-left: 5px;
    }
    @media (max-width:350px) {
        header{
            padding: 0 2px;
        }
        .header-logo{
            font-size: 12px;
            padding: 10px 2px;
        }
        .header-right-link{
            font-size: 9px;
            padding: 2px 2px;
        }
        .header-munu {
            font-size: 9px;
            margin-left: 5px;
        }
        .header-munu  svg{
            margin: 8px 0 ;
            font-size: 25px;
        }
    }
}
}