
.category .button-category{
    display: block;
    margin: 10px;
}
@media (max-width: 800px) {
  
.category {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}
.category .button-category{
 margin: 10px 2px;
 /* width: max-content; */
} 
}